# Ignore virtual environments
**/.venv/

# Ignore compiled Python files
*.pyc

# Ignore pipenv virtual environment
/.venv

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS metadata files
.DS_Store

# Ignore PyCharm files
.idea/
*.iml
*.ipr
*.iws

# SQLite database files
*.sqlite3
*.db