@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

:root { 
  --primary-color: #5b8bf7; 
  --primary-dark: #3a62c4; 
  --primary-light: #89aaff; 
} 

h1, h2, h3 { 
  margin-top: 0; 
  font-family: 'Dosis', sans-serif;
} 
 
body { 
  color: #333; 
  background-color: #f8f9fa; 
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px; 
  line-height: 1.6; 
} 

.advanced-section {
  background-color: #e5e6e7;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
  border: 1px solid #000;
}
 
button, .button { 
  background-color: var(--primary-color); 
  border: none; 
  color: white; 
  padding: 8px 16px; 
  margin: 8px 4px;
  text-transform: uppercase; 
  font-weight: bold; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
} 

button:hover, .button:hover { 
  background-color: var(--primary-dark); 
  transform: translateY(-2px); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); 
} 

button:disabled, .button:disabled { 
  background-color: var(--primary-light); 
} 

.container { 
  padding: 16px; 
} 
 
input, textarea { 
  width: 100%; 
  padding: 8px; 
  margin-bottom: 16px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
} 
 
.card { 
  background: white; 
  margin-bottom: 1rem; 
  padding: 12px; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
} 

label { 
  display: block; 
  margin-bottom: 4px; 
} 
 
input[type="text"], textarea { 
  width: 98%;
  padding: 10px; 
  margin-bottom: 16px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
} 

.results-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 16px;
}

.results-card { 
  background: white; 
  padding: 12px; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); 
  display: grid; 
  align-items: center; 
  transition: all 0.2s ease; 
  border: 1px solid #ccc;
} 

.results-card a {
  text-decoration: none; /* Hide <a> underlines */
  color: black; /* Change text color */
  cursor: pointer; /* Change mouse cursor */
}

.result-info {
  grid-column: 1;
  grid-row: 1;
  display:flex;
}

.result-info img {
  border-radius: 8px;
  max-width: 240px;
  width: auto;
  height: auto;
  object-fit: contain;
}

.result-navigation {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  background-color: #e2e7ed;
  border-radius: 8px;
}
 
.results-card:hover { 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16); 
} 
 
.results-card img { 
  margin-right: 12px; 
} 
 
.results-card h3 { 
  margin: 0; 
  font-size: 1.1em; 
  flex-grow: 1; 
} 
 
.results-card span { 
  font-weight: bold; 
  color: var(--primary-color); 
} 

.score { 
  font-size: 1.5em; 
  font-weight: bold; 
  color: var(--primary-color); 
}

.low-score {
  font-size: 1.5em; 
  font-weight: bold; 
  color: red;
}

.high-score {
  font-size: 1.5em; 
  font-weight: bold; 
  color: green;
}

.source {
  border: 4px solid black;
  border-radius: 8px;
  display: inline-block;
  background-color: #ffffff;
  padding: 10px;
}